<?xml version="1.0"?>
<ArrayOfServiceProxyInvokeItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServiceProxyInvokeItem>
    <Namespace>namespace</Namespace>
    <ClassName>class</ClassName>
    <MethodName>method</MethodName>
    <IPAddress>*</IPAddress>
  </ServiceProxyInvokeItem>
</ArrayOfServiceProxyInvokeItem>